:root {
  --primary: rgb(206, 26, 32);
  --accent: rgb(178,26,30);
}
body {
  background-color: #000;

  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 0.875rem;
  }
}
#root {
  overflow: hidden;
}
a {
  color: #fff;
  font-size: inherit;

  outline-color: transparent;
  text-decoration: none;
}
a:focus, a:hover {
  color: #a8a8a8;
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-underline-offset: 8px;

  outline: none;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}



button {
  border: none;
  padding: 0.5rem 1rem;

  display: inline-block;

  cursor: pointer;
  font-size: 0.8rem;
}


/* Utility */

/* -- Block Related */
.d-flex {
  display: flex;
}
.content-center {
  justify-content: center;
}

/* -- Buttons */
.btn--primary {
  padding: 0.75rem 2rem;

  background-color: var(--primary);
  text-transform: uppercase;
  color: #fff;
}
.btn--primary:hover {
  

  background-color: var(--accent);
}
.btn--clear {
  background-color: transparent;
}

.btn--rounded {
  border-radius: 25px;
}

/* -- Typography */
.text-center {
  text-align: center;
}
/* ---- Weights */
.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}

/* ---- Sizes */
.fs-xl {
  font-size: 2rem;
}
.fs-lg {
  font-size: 1.8rem;
}
.fs-md {
  font-size: 1.5rem;
}
.fs-sm {
  font-size: 0.9rem;
}
.color-accent {
  color: var(--accent);
}
.color-accent:hover {
  color: #fff;
}
.color-mute {
  color: #bdbdbd;
}

/* Margins */
.mt-2 {
  margin-top: 2rem;
}

/* z-index */
.z-index-1 {
  position: relative;
  z-index: 1;
}

/* Extra */
.overflow-hidden {
  overflow: hidden;
}